body{ background: #f8f8f8}
ul,li{ margin: 0; padding: 0;}
.pay-box{ padding: 40px; margin-bottom: 40px; background: #fff;    -webkit-box-shadow: 0px 2px 8px #f2f2f2;
    box-shadow: 0px 2px 8px #f2f2f2;}
.pay-box-in{ padding: 20px; border:1px solid #e5e5e5}
@media ( max-width: 640px) {
    .pay-box-in{ text-align: left}
}
.pay-box-in label.col-sm-2{ margin-top: 10px; font-weight: normal; text-align: right;}
.pay-box-in span{ font-size: 12px; line-height: 40px;}

.pay-box-in input[type=text]{ height: 40px; line-height: 40px; border: 1px solid #f2f2f2}
.pay-box-in input[type=radio]{}

input[type="text"], input[type="password"], input[type="email"] {
    box-shadow: inset 0 2px 5px #eee;
    color: #333333;
}

.pay-box-in ul{}
.pay-box-in ul li{float: left;width: 150px;height: 42px;position: relative;margin: 10px 40px 0 0;display: inline;}
.pay-box-in ul li input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 40px;
    opacity: 0;
}
.pay-box-in ul li label {
    left: 0;
    top: 0;
    width: 148px;
    border: 1px solid #e5e5e5;
    text-align: center;
    vertical-align: middle;
}
.pay-box-in ul li input:checked+label {
    border-color: #2996e9;
}
.pay-box-in ul li label img {
    vertical-align: middle;
}
.btns { text-align: right;margin-right: -15px;
    right: 0;
    bottom: 0;
}
.btns button {
    vertical-align: top;
    margin-left: 30px;
}
.pcdemo-btn {
    border: none;
    border-radius: 4px;
    background-color: #2996e9;
    color: #fff;
    height: 40px;
    line-height: 40px;
    width: 160px;
    position: relative;
    overflow: hidden;
    z-index: 2;font-size: 16px;
    text-align: center;
}
.footer-icon-top label{ padding-left: 10px; text-align: left}